USE [DBVclDetails]
GO
/****** Object:  Table [dbo].[DriveTypes]    Script Date: 04/06/2026 00:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriveTypes](
	[DriveTypeID] [int] IDENTITY(1,1) NOT NULL,
	[DriveTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DriveTypes] PRIMARY KEY CLUSTERED 
(
	[DriveTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DriveTypes] ON 

INSERT [dbo].[DriveTypes] ([DriveTypeID], [DriveTypeName]) VALUES (1, N'10 X 2')
INSERT [dbo].[DriveTypes] ([DriveTypeID], [DriveTypeName]) VALUES (2, N'10 X 4')
INSERT [dbo].[DriveTypes] ([DriveTypeID], [DriveTypeName]) VALUES (3, N'10 X 6')
SET IDENTITY_INSERT [dbo].[DriveTypes] OFF
GO
