USE [DBVclDetails]
GO
/****** Object:  Table [dbo].[Bodies]    Script Date: 04/06/2026 00:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bodies](
	[BodyID] [int] IDENTITY(1,1) NOT NULL,
	[BodyName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bodies] PRIMARY KEY CLUSTERED 
(
	[BodyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bodies] ON 

INSERT [dbo].[Bodies] ([BodyID], [BodyName]) VALUES (1, N'Bus (Non School) - Cab Forward')
INSERT [dbo].[Bodies] ([BodyID], [BodyName]) VALUES (2, N'Bus (Non School) - Stripped Chassis')
INSERT [dbo].[Bodies] ([BodyID], [BodyName]) VALUES (3, N'Bus (Non School) - Unknown')
SET IDENTITY_INSERT [dbo].[Bodies] OFF
GO
