USE [DBVclDetails]
GO
/****** Object:  Table [dbo].[MakeModels]    Script Date: 04/06/2026 00:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MakeModels](
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[MakeID] [int] NOT NULL,
	[ModelName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MakeModels] PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MakeModels] ON 

INSERT [dbo].[MakeModels] ([ModelID], [MakeID], [ModelName]) VALUES (1, 1, N'1000')
INSERT [dbo].[MakeModels] ([ModelID], [MakeID], [ModelName]) VALUES (2, 1, N'1150')
INSERT [dbo].[MakeModels] ([ModelID], [MakeID], [ModelName]) VALUES (3, 1, N'1300')
GO
SET IDENTITY_INSERT [dbo].[MakeModels] OFF
GO
ALTER TABLE [dbo].[MakeModels]  WITH CHECK ADD  CONSTRAINT [FK_MakeModels_Makes] FOREIGN KEY([MakeID])
REFERENCES [dbo].[Makes] ([MakeID])
GO
ALTER TABLE [dbo].[MakeModels] CHECK CONSTRAINT [FK_MakeModels_Makes]
GO
