USE [DBVclDetails]
GO
/****** Object:  Table [dbo].[Makes]    Script Date: 04/06/2026 00:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makes](
	[MakeID] [int] IDENTITY(1,1) NOT NULL,
	[MakeName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Make] PRIMARY KEY CLUSTERED 
(
	[MakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Makes] ON 

INSERT [dbo].[Makes] ([MakeID], [MakeName]) VALUES (1, N'Abarth')
INSERT [dbo].[Makes] ([MakeID], [MakeName]) VALUES (2, N'AC')
INSERT [dbo].[Makes] ([MakeID], [MakeName]) VALUES (3, N'Acura')
GO
SET IDENTITY_INSERT [dbo].[Makes] OFF
GO
