USE [DBVclDetails]
GO
/****** Object:  Table [dbo].[FuelTypes]    Script Date: 04/06/2026 00:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelTypes](
	[FuelTypeID] [int] IDENTITY(1,1) NOT NULL,
	[FuelTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FuleTypes] PRIMARY KEY CLUSTERED 
(
	[FuelTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FuelTypes] ON 

INSERT [dbo].[FuelTypes] ([FuelTypeID], [FuelTypeName]) VALUES (1, N'BATTERY EV (EV/BEV)')
INSERT [dbo].[FuelTypes] ([FuelTypeID], [FuelTypeName]) VALUES (2, N'BATTERY W/RANGE EXT (BEV REX)')
INSERT [dbo].[FuelTypes] ([FuelTypeID], [FuelTypeName]) VALUES (3, N'BI-FUEL')
SET IDENTITY_INSERT [dbo].[FuelTypes] OFF
GO
