USE [DBVclDetails]
GO
/****** Object:  View [dbo].[HighestNumberOfModels]    Script Date: 04/06/2026 00:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[HighestNumberOfModels] AS(
	SELECT TOP (1)
		Count(*) AS NumberOfModels
	
	FROM MakeModels
	GROUP BY MakeID
	ORDER BY NumberOfModels DESC
)
GO
