USE [DBVclDetails]
GO
/****** Object:  View [dbo].[VehicleMasterDetails]    Script Date: 04/06/2026 00:47:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VehicleMasterDetails] AS(
	SELECT 
		VD.ID,
		VD.MakeID,
		Mk.MakeName,
		VD.ModelID,
		MKM.ModelName,
		VD.SubModelID,
		SbM.SubModelName,
		VD.BodyID,
		B.BodyName,
		VD.Vehicle_Display_Name,
		VD.Year,
		VD.DriveTypeID,
		DT.DriveTypeName,
		VD.Engine,
		VD.Engine_CC,
		VD.Engine_Cylinders,
		VD.Engine_Liter_Display,
		VD.FuelTypeID,
		FT.FuelTypeName,
		VD.NumDoors
	
	FROM VehicleDetails VD
	INNER JOIN Makes Mk
	ON VD.MakeID = Mk.MakeID
	INNER JOIN MakeModels MkM
	ON VD.ModelID = MkM.ModelID AND VD.MakeID = MkM.MakeID
	INNER JOIN SubModels SbM
	ON VD.SubModelID = SbM.SubModelID AND VD.ModelID = SbM.ModelID
	INNER JOIN Bodies B 
	ON VD.BodyID = B.BodyID
	INNER JOIN DriveTypes DT
	ON VD.DriveTypeID = DT.DriveTypeID
	INNER JOIN FuelTypes FT
	ON VD.FuelTypeID = FT.FuelTypeID
);
GO
