USE [DBMisc]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04/06/2026 00:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[MonthlySalary] [smallmoney] NULL,
	[ManagerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [PersonID], [MonthlySalary], [ManagerID]) VALUES (1, 15, 3500.0000, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [PersonID], [MonthlySalary], [ManagerID]) VALUES (2, 42, 4200.0000, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [PersonID], [MonthlySalary], [ManagerID]) VALUES (3, 7, 3900.0000, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
/****** Object:  Index [UQ_Employees_PersonID]    Script Date: 04/06/2026 00:51:14 ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [UQ_Employees_PersonID] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_ManagerID]    Script Date: 04/06/2026 00:51:14 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_ManagerID] ON [dbo].[Employees]
(
	[ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CHK_Employees_MonthlySalary] CHECK  (([MonthlySalary]>(0)))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CHK_Employees_MonthlySalary]
GO
