USE [DBMisc]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 04/06/2026 00:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[StudentNumber] [nvarchar](20) NOT NULL,
	[EnrollmentDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [PersonID], [StudentNumber], [EnrollmentDate], [IsActive]) VALUES (1, 1, N'STU2023001', CAST(N'2023-09-15' AS Date), 1)
INSERT [dbo].[Students] ([StudentID], [PersonID], [StudentNumber], [EnrollmentDate], [IsActive]) VALUES (2, 4, N'STU2023002', CAST(N'2023-08-20' AS Date), 1)
INSERT [dbo].[Students] ([StudentID], [PersonID], [StudentNumber], [EnrollmentDate], [IsActive]) VALUES (3, 6, N'STU2023003', CAST(N'2023-09-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
/****** Object:  Index [UQ_Students_PersonID]    Script Date: 04/06/2026 00:51:14 ******/
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [UQ_Students_PersonID] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Students_StudentNumber]    Script Date: 04/06/2026 00:51:14 ******/
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [UQ_Students_StudentNumber] UNIQUE NONCLUSTERED 
(
	[StudentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (getdate()) FOR [EnrollmentDate]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
