USE [DBMisc]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 04/06/2026 00:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](25) NOT NULL,
	[LastName] [nvarchar](25) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](125) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([PersonID], [FirstName], [LastName], [Gender], [BirthDate], [Phone], [Email]) VALUES (1, N'John', N'Smith', N'M', CAST(N'1985-03-15' AS Date), N'555-0101', N'john.smith@email.com')
INSERT [dbo].[Persons] ([PersonID], [FirstName], [LastName], [Gender], [BirthDate], [Phone], [Email]) VALUES (2, N'Sarah', N'Johnson', N'F', CAST(N'1990-07-22' AS Date), N'555-0102', N'sarah.johnson@email.com')
INSERT [dbo].[Persons] ([PersonID], [FirstName], [LastName], [Gender], [BirthDate], [Phone], [Email]) VALUES (3, N'Robert', N'Williams', N'M', CAST(N'1982-11-08' AS Date), N'555-0103', N'robert.williams@email.com')
GO
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Persons_Email]    Script Date: 04/06/2026 00:51:14 ******/
ALTER TABLE [dbo].[Persons] ADD  CONSTRAINT [UQ_Persons_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Persons_Phone]    Script Date: 04/06/2026 00:51:14 ******/
ALTER TABLE [dbo].[Persons] ADD  CONSTRAINT [UQ_Persons_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CHK_Persons_BirthDate] CHECK  ((datediff(year,[BirthDate],getdate())>=(18)))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CHK_Persons_BirthDate]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CHK_Persons_Email] CHECK  (([Email] IS NULL OR [Email] like '%@%'))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CHK_Persons_Email]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CHK_Persons_Gender] CHECK  (([Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CHK_Persons_Gender]
GO
